:root {
    --background-color: white;
}

#root {
    width: 100%;
    background-color: var(--background-color);
    font-family: 'Poppins';
    min-height: 100vh;
}

#introduction {
    margin-top: 5vh;
}

#search-section {
    min-height: 60vh;
    margin-top: 5vh;
    border: 1px #CCC5B9 solid;
    border-radius: 10px;
    padding: 0px 0px 0px 0px;
    background-color: #FFFCF2;
}

#search-section .container {
    width: 90%;
}

#search-section #default-pp, #default-climate {
    margin-top: 5vh;
    text-align: center;
}

#search-section #directions {
    margin: 15px 15px 15px 15px;
    font-size: 18px;
    text-align: left;
}

#search-section #select-search {
    padding: 0px 0px 0px 0px;
}

#search-section #select-search h1 {
    font-size: 28px;
}

#search-section .form-check {
    padding: 10px 10px 10px 10px;
    text-align: left;
    display: flex !important;
    justify-content: left;
    align-items: center;
}

#search-section .form-check label {
    padding-left: 1em;
}

#search-section .form-check-input {
    width: 1.5em !important;
    height: 1.5em !important;
}

#search-section .form-check-input:checked {
    background-color: #EB5E28 !important;
    border-color: #EB5E28 !important;
}
#search-section #textboxes, #calendar {
    background-color: #CCC5B9;
    padding: 10px 10px 10px 10px;
    box-shadow: 1px 2px 5px #bab4a9;
    border-radius: 3px;
}

#search-section #calendar {
    margin-bottom: 1rem!important;
}
#search-section .nav-tabs {
    background-color: #252422;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#search-section .nav-tabs .nav-link {
    background-color: #252422 !important;
    border: var(--bs-nav-tabs-border-width) solid transparent !important;
    color: white !important;
    margin-bottom: 0px !important;
}

#search-section .nav-link.active {
    background-color: #FFFCF2 !important;
    border: 1px #403D39 solid;
    color: #252422 !important;
}

#search-section .accordion-item {
    margin-bottom: 5vh;
}
#search-section .accordion-button {
    background-color: #403D39 !important;
    color: white !important;
}

#search-section .accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#search-section .react-datepicker-wrapper input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#search-section #search-button {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

#search-section #search-button button {
    background-color: #EB5E28;
    border-color: #EB5E28;
}
